.container {
    display: grid;
    grid-template-rows: 110px 575px 75px 50px;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    'header players'
    'search graphs'
    'refresh teams'
    'footnote footnote'
    ;
}

.app-header {
    font-size: 42px;
    grid-area: header;
}

.search-players {
    grid-area: search;
}

.players-tabs {
    grid-area: players;
}

.previous-games-graphs {
    grid-area: graphs;
}

.refresh-players {
    grid-area: refresh;
}